### Set up Jupyter Notebook

In [146]:
import os
os.chdir ('C:\\Users\\mkorzec\Downloads')

In [147]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings('ignore')

### Sales Data

In [148]:
# Import sales data

In [149]:
il071 = pd.read_excel('4-16-il071.xlsx')
il082 = pd.read_excel('4-16-il082.xlsx')
il088 = pd.read_excel('4-16-il088.xlsx')
in048 = pd.read_excel('4-16-in048.xlsx')
mo046 = pd.read_excel('4-16-mo046.xlsx')
fl121 = pd.read_excel('4-16-fl121.xlsx')
fl123 = pd.read_excel('4-16-fl123.xlsx')

In [150]:
# Add dealership columns to the datasets

In [151]:
il071['Dealership'] = "IL071"
il082['Dealership'] = "IL082"
il088['Dealership'] = "IL088"
in048['Dealership'] = "IN048"
mo046['Dealership'] = "MO046"
fl121['Dealership'] = "FL121"
fl123['Dealership'] = "FL123"

In [152]:
# Joint tables together

In [153]:
frames = [il071, il082, il088, in048, mo046, fl121, fl123]

In [154]:
data = pd.concat(frames)

In [155]:
# Select columns
data.head()
data.columns

Index(['Unnamed: 0', 'AON or VIN', 'Trans Type', 'MY', 'Model', 'Package',
       'Color', 'MSRP', 'Dealer Cost', 'Customer Name', 'Finance Type',
       'Transaction Date', 'Sale Type', 'Valid Sales Date', 'SRC',
       'Vehicle Info', 'Dealer Notes', 'Invoice / Preship', 'Vehicle Log',
       'Dealership'],
      dtype='object')

In [156]:
d1 = data[['AON or VIN', 'MY', 'Model',
       'Color', 'MSRP', 'Dealer Cost', 'Finance Type',
       'Transaction Date', 'SRC', 'Dealership']]

In [157]:
# Replace NA's with 'Okay' and filter only Okay values

In [158]:
d1['SRC'].fillna('Okay', inplace = True)

In [159]:
d2 = d1[d1['SRC'] == 'Okay']

In [160]:
# Drop the SRC column

In [161]:
d2.drop('SRC', axis = 1, inplace = True)

In [162]:
# Rename columns

In [163]:
d2.rename(columns = {
    'MY' : 'Year',
    'AON or VIN' : 'VIN'
}, inplace = True)

In [164]:
# Separate the color column into three columns

In [165]:
d3 = d2['Color'].str.split(" / ", n = 2, expand = True)

In [166]:
d2['Exterior'] = d3[0]
d2['Interior'] = d3[1]
d2['Seat'] = d3[2]

In [167]:
d2.drop(columns = ['Color'], inplace = True)

In [168]:
# Replace Model codes with actual names

In [169]:
x = d2.replace({'Model' : { '17412F45': "Accent LE",
'28402F45': "Sonata SE",
'284H2F4P': "Sonata SE",
'284J2F4P': "Sonata SEL",
'284K2F4P': "Sonata Sport",
'284L2F4P': "Sonata Limited",
'284M2F45': "Sonata Limited 2.0T",
'48412F45': "Elantra SE",
'48422F45': "Elantra Value Edition",
'48442F45': "Elantra SEL",
'48462F45': "Elantra Limited",
'64402A45': "Santa_FE SE 2.4 AWD",
'64402F4S': "Santa_FE SE 2.4 FWD",
'64422A45': "Santa_FE SEL 2.4 AWD",
'64422F4S': "Santa_FE SEL 2.4 FWD",
'64472A45': "Santa_FE Ultimate 2.4 AWD",
'64482A45': "Santa_FE Limited 2.0T AWD",
'84412A45': "Tucson SE AWD",
'84412F45': "Tucson SE FWD",
'844A2F45': "Tucson VALUE FWD",
'844B2F45': "Tucson SEL FWD",
'844B2F4S': "Tucson SEL FWD",
'844D2A45': "Tucson Sport FWD",
'844G2A45': "Tucson Limited AWD",
'844H2A45': "Tucson Unlimited AWD",
'D2542F45': "Elantra GT SPORT A/T",
'F1353F45': "Veloster N",
'Q0422F45': "Kona SEL FWD",
'Q0452A45': "Kona Limited AWD",
'64492A45': "Santa_FE Ultimate 2.0T AWD",
'64462F45': "Santa_FE Limited 2.4 FWD",
'28472F45': "Sonata Limited",
'844B2A45': "Tucson SEL AWD",
'J0412F65': "Santa_FE XL SE FWD",
'J0482A65': "Santa_FE LTD ULT AWD",
'N0502F4S': "IONIQ_Hybrid Blue",
'N0522F4S': "IONIQ_Hybrid SEL",
'N0542F4S': "IONIQ_Hybrid Limited",
'G1402F45': "Sonata Hybrid SE",
'B2402A65': "G80 AWD 3.8",
'F1322F45': "Veloster 2.0 Premium",
'17442F45': "Accent SEL",
'64442F45': "Santa_FE SEL PLUS 2.4 FWD",
'64442A45': "Santa_FE SEL PLUS 2.4 AWD",
'64492A45': "Santa_FE Ultimate 2.0T AWD",
'64482F45': "Santa_FE Limited 2.0T FWD",
'64472F45': "Santa_FE Ultimate 2.4 FWD",
'64462A45': "Santa_FE Limited 2.4 AWD",
'47442F45': "Elantra SEL",
'47422F45': "Elantra Value Edition",
'284G2F45': "Sonata Limited 2.0T",
'64492F45': "Santa_FE Ultimate 2.0T FWD",
'284B2F45': "Sonata SEL",
'284E2F45': "Sonata Sport",
'284F2F45': "Sonata Limited",
'844E2A45': "Tucson VALUE AWD",
'844C2F45': "Tucson SEL PLUS FWD",
'Q0402F45': "Kona SE FWD",
'Q0432F45': "Kona SEL FWD - Contrast Roof",
'844E2F45': "Tucson VALUE FWD",
'48413F45': "Elantra M/T",
'844H2F4S': "Tucson Ultimate FWD",
'844D2F4S': "Tucson Sport FWD",
'844A2A45': "Tucson Value AWD",
'Q0422A45': "Kona SEL AWD",
'Q0472A45': "Kona Ultimate AWD",
'J0412A65': "Santa_FE XL SE AWD",
'J0482F65': "Santa_FE XL LTD ULT FWD",
'J0422A65': "Santa_FE SE ULT AWD",
'P0542F4P': "IONIQ_Hybrid Plug-In Limited",
'G1432F45': "Sonata Hybrid Limited",
'D2522F45': "Elantra GT A/T",
'F1302F45': "Veloster 2.0",
'F1362F45': "Veloster Turbo",
'Q0452F45': "Kona Limited FWD",
'Q0472F45': "Kona Ultimate FWD",
'63462F45': "Santa_FE Sport 2.0T ULT FWD",
'28432F45': "Sonata Sport 2.0T",
'284C2F45': "Sonata Sport",
'284F2F4P': "Sonata Limited",
'284D2F45': "Sonata SEL",
'844G2F45': "Tucson Limited FWD",
'J0422F65': "Santa_FE SE ULT FWD",
'48472F45': "Elantra Sport",
'B2432R65': "G80 RWD 3.3T Sport",
'F1303F45': "Veloster 2.0 M/T",
'F1343F45': "Veloster R-SPEC",
'F1383F45': "Veloster Turbo Ultimate M/T",
'F1382F45': "Veloster Turbo Ultimate",
'28492F45': "Sonata ECO",
'844F2A45': "Tucson Night AWD",
'844G2F4S': "Tucson Limited FWD",
'B2402R65': "G80 RWD 3.8",
'17462F45': "Accent Limited",
'284D2F4P': "Sonata SEL SULEV",
'844F2F4S': "Tucson Night FWD",
'48432F45': "Elantra ECO", 
'17413F45': "Accent SE M/T",
'Q0402A45': 'Kona SE AWD',
'47412F45': 'Elantra SE',
'28452F45': 'Sonata Limited 2.0T',
'B2452R85': 'G80 RWD 5.0 Ultimate',
'Q0492A45': 'Kona Iron Man Edition AWD'
                          }})

In [170]:
# Replace Exterior codes with actual names

In [171]:
x = x.replace({'Exterior' : { 'U4G': "GRAY",
'R4R': "RED",
'W4Y': "BEIGE",
'4SS': "SILVER",
'ABP': "BLACK",
'B2R': "BLUE",
'S3B': "BLACK",
'WW8': "WHITE",
'Y2B': "BROWN",
'ST2': "BLUE",
'R2F': "RAINFOREST",
'S2C': "GRAY",
'PR3': "RED",
'YR2': "ORANGE",
'2C': "GRAY",
'Y8': "SILVER",
'S3': "BLACK",
'VU': "BLUE",
'W8': "WHITE",
'PR': "RED",
'US': "BLUE",
'NKA': "BLACK",
'PDW': "WHITE",
'M8N': "BROWN",
'T8T': "SILVER",
'TW3': "WHITE",
'R5R': "RED",
'Z5G': "GRAY",
'XB3': "BLUE",
'MZH': "BLACK",
'Z3U': "BLUE",
'P6W': "WHITE",
'YG7': "GRAY",
'YAC': "WHITE",
'RB5': "BLACK",
'P2S': "IRON FROST",
'M8S': "SILVER",
'YT3': "GRAY",
'N9V': "SILVER",
'N5M': "GRAY",
'Y8S': "SILVER",
'R2U': "BLUE",
'R5U': "BLUE",
'Y2R': "RED",
'SS7': "SILVER",
'SS1': "SILVER",
'Y21': "RED",
'W9Y': "LIME",
'T8S': "SILVER",
'WAW': "WHITE",
'YP5': "BLUE",
'UYS': "GRAY",
'WC9': "WHITE",
'NU9': "BLUE",
'U9G': "GRAY",
'SWP': "WHITE",
'TA9': "ORANGE",
'MFR': "RED",
'TU9': "BLUE",
'T5K': "BLACK",
'YW6': "WHITE",
'YB6': "BLACK",
'W9U': "GRAY",
'N4B': "BLUE",
'YN9': "BROWN",
'PR2': "RED",
'MJB': "BLACK",
'WT': "BEIGE",
'Y6S': "SILVER",
'RTR': "GRAY",
'V9R': "RED",
'SFB': "BLUE"                             
                            }})

In [172]:
# Change Interior codes into actual name

In [173]:
x = x.replace({'Interior' : { 'TRY': "BLACK",
'XUG': "BEIGE",
'YPJ': "GRAY",
'NN1': "BLACK",
'UUE': "BEIGE",
'C1': "BLACK",
'P1': "GRAY",
'CT': "BLACK",
'GG': "GRAY",
'BB': "BEIGE",
'TGG': "GRAY",
'YAK': "BEIGE",
'LGY': "BLACK",
'X1': "BEIGE",
'NNB': "BLACK",
'VYN': "BEIGE",
'RYN': "BLACK",
'VFG': "GRAY",
'YGE': "BEIGE",
'T9Y': "BLACK",
'RRY': "BLACK",
'PK': "GRAY",
'TR1': "BLACK",
'PPB': "BEIGE",
'PGG': "GRAY",
'SG2': "BLACK",
'RJS': "GRAY",
'XA': "BEIGE",
'PKG': "GRAY",
                            }})

In [174]:
# Change Seat codes to actual names

In [175]:
x = x.replace({'Seat' : { 'BLACK W/ LIME': "BLACK"}})

In [176]:
# Separe Model column into model and trim

In [177]:
temp = x['Model'].str.split(" ", n = 1, expand = True)

In [178]:
x.drop(columns = ['Model'], inplace = True)

In [179]:
x['Model'] = temp[0]
x['Trim'] = temp[1]

In [180]:
# Reorder columns
x = x[['VIN', 'Year', 'Model', 'Trim', 'Exterior', 'Interior', 'Seat',
      'MSRP', 'Dealer Cost', 'Finance Type', 'Transaction Date', 'Dealership']]

In [181]:
# Export to excel file

In [182]:
x.to_excel('Sample.xlsx', sheet_name = 'Raw Data', index = False)

### Inventory Data

In [183]:
# Import Inventory Data

In [184]:
il071 = pd.read_excel('il071-inventory.xlsx')
il082 = pd.read_excel('il082-inventory.xlsx')
il088 = pd.read_excel('il088-inventory.xlsx')
in048 = pd.read_excel('in048-inventory.xlsx')
mo046 = pd.read_excel('mo046-inventory.xlsx')
fl121 = pd.read_excel('fl121-inventory.xlsx')
fl123 = pd.read_excel('fl123-inventory.xlsx')

In [185]:
# Add dealership columns to the datasets

In [186]:
il071['Dealership'] = "IL071"
il082['Dealership'] = "IL082"
il088['Dealership'] = "IL088"
in048['Dealership'] = "IN048"
mo046['Dealership'] = "MO046"
fl121['Dealership'] = "FL121"
fl123['Dealership'] = "FL123"

In [187]:
# Join tables together

In [188]:
frames = [il071, il082, il088, in048, mo046, fl121, fl123]

In [189]:
data = pd.concat(frames)

In [190]:
# Filter out Series that don't start with 20

In [191]:
x = data[data['Series'].str.startswith('20', na = False)]

In [192]:
# Replace some names

In [193]:
x['Series'] = x['Series'].str.replace("SANTA FE", 'SANTA_FE', regex = True)

In [194]:
x['Series'] = x['Series'].str.replace("IONIQ HYBRID", 'IONIQ_HYBRID', regex = True)

In [195]:
# Select needed columns

In [196]:
x = x[['Series', 'Avg Mth Sales', 'Dealer Stock', 'D/S', 'ETA in 30 Days', 'ETA in 60 Days',
       'ETA in 60+ Days', 'Total Avail', 'Dealership']]

In [197]:
# Separate Series into multiple columns

In [198]:
temp = x['Series'].str.split(" ", n = 3, expand = True)

In [199]:
x['Year'] = temp[0]
x['Model'] = temp[2]
x['Trim'] = temp[3]

In [200]:
x.drop(columns = ['Series'], inplace = True)

In [201]:
# Rename columns

In [202]:
x.rename(columns = {
    'Avg Mth Sales' : 'Average',
    'Total Avail' : 'Total'
}, inplace = True)

In [203]:
# Add new columns to the data

In [204]:
x['Expected_Sales'] = x.Average * 3

In [205]:
x['Recommended'] = x.Expected_Sales - x.Total

In [206]:
# Reaname columns
x.columns

Index(['Average', 'Dealer Stock', 'D/S', 'ETA in 30 Days', 'ETA in 60 Days',
       'ETA in 60+ Days', 'Total', 'Dealership', 'Year', 'Model', 'Trim',
       'Expected_Sales', 'Recommended'],
      dtype='object')

In [207]:
x.rename(columns = {
    'D/S': 'Days In Stock', 
    'ETA in 30 Days': '30 Days', 
    'ETA in 60 Days': '60 Days',
    'ETA in 60+ Days': 'Over 60 Days',
    'Expected_Sales': 'Expected Sales (3 Months)', 
    'Recommended': 'Recommended Order'
}, inplace = True)

In [208]:
# Create a new Warning Column based on few conditions

In [209]:
x['Year'] = x['Year'].astype(str).astype(int)

In [210]:
x['Warning'] = np.where(x['Year'] < 2019, 'Older Model', 
                        (np.where(x['Total'] == 0, 'None in Stock or Transit', "")))

In [211]:
x = x[['Year', 'Model', 'Trim', 'Average', 'Dealer Stock', 'Days In Stock', '30 Days', '60 Days',
      'Total', 'Dealership', 'Expected Sales (3 Months)', 'Recommended Order', 'Warning']]

In [212]:
# Export to existing excel file as a new sheet

In [213]:
from openpyxl import load_workbook

In [214]:
path = r"C:\Users\mkorzec\Downloads\Sample.xlsx"

In [215]:
book = load_workbook(path)
writer = pd.ExcelWriter(path, engine = 'openpyxl')
writer.book = book

In [216]:
x.to_excel(writer, sheet_name = 'example', index = False)

In [217]:
writer.save()
writer.close()